*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/* li {
  list-style: none;
} */

body {
  margin: 0 auto;
  background-color: #f3e6d8;
  font-size: 1em;
  font-family: "Outfit";
  color: hsl(24, 5%, 18%);
}
.container {
  width: 85%;
  margin: 0 auto;
}

main {
  /* max-width: 400px;
  /* padding: 20px;*/
  background-color: #ffffff;
  margin: 0 auto;
  /*width: 40%;*/
}

.heading {
  /* border: 1px solid red; */
  color: hsl(14, 45%, 36%);
}

.dish-info {
  margin: 1.4em 0;
}

.hero-text {
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 1em;
  font-weight: 400;
  font-family: "Young Serif";
}

.about {
  line-height: 1.5;
}

/* PREPARATION SECTION STYLING */
.method {
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  padding: 16px;
}

.pt-list {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 2em;
}

.prepare {
  color: #7b284f;
  font-size: 1.3em;
  margin-bottom: 0.7em;
}

/* 


.gift {
  padding-top: 15px;
  color: #7b284f;
}

.recipe {
  border-bottom: 2px solid #e4ded8;
  padding-top: 15px;
  padding-left: 20px;
}

.rr {
  padding-top: 20px;
  border-top: 2px solid #e4ded8;
  color: #7b284f;
}

.todo {
  border-bottom: 2px solid #e4ded8;
  padding: 15px;
}

.lists {
  padding-bottom: 20px;
  margin-left: 20px;
}

.health {
  padding-top: 20px;
  color: #7b284f;
}

.note {
  padding-top: 18px;
  padding-bottom: 10px;
}

.cc {
  padding-bottom: 20px;
  border-bottom: 2px solid #e4ded8;
}

.aa {
  padding-bottom: 20px;
  border-bottom: 2px solid #e4ded8;
}

.pp {
  padding-bottom: 20px;
  border-bottom: 2px solid #e4ded8;
} */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media (min-width: 375px) {
  img {
    max-width: 100%;
    margin: 0 auto;
    width: 375px;
    padding-left: 20px;
  }
  main {

  }
} */
